.navbarnutri {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  max-width: 100%;
  height: 60px;
  z-index: 2;
}

.navbarnutri-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarnutri-section:first-child {
  justify-content: flex-start;
}

.navbarnutri-section:nth-child(2) {
  justify-content: center;
}

.navbarnutri-section:last-child {
  justify-content: flex-end;
}

.enlace-main {
  color: #00a8a0;
  text-decoration: none;
}

.title {
  font-size: 1.5em;
}

.title span {
  color: #333;
}

.navbarnutri-links {
  display: flex;
  gap: 30px;
}

.enlace {
  color: #333;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  transition: color 0.3s;
  padding: 5px 10px;
}

.enlace:hover {
  color: #00a8a0;
}

.role-button .role {
  color: #00a8a0;
  border: 1px solid #00a8a0;
  background-color: transparent;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.role-button .role:hover {
  background-color: #00796b;
  color: #fff;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .navbarnutri {
    padding: 10px 15px;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbarnutri-links {
    gap: 15px;
    margin-top: 10px;
  }

  .role-button {
    margin-top: 10px;
  }
}