.container-login {
  width: 100%;
  margin-right: 50px;
  margin-top: 20vh;
}

.img-login {
  display: none;
}

.main-title-login {
  text-align: center;
  font-size: 56px;
}

.main-title-login span {
  color: #00a8a0;
}

@media (min-width: 1200px) {
  .img-login {
    display: block;
  }

  .container-login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10rem;
    gap: 90px;
  }
}
