.triaje-image {
  display: none;
}

.triaje-image img {
  width: 100%;
  height: auto;
  max-height: 700px;
  object-fit: contain;
  border-radius: 10px;
}

@media (min-width: 1100px) {
  .triaje-image {
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
  }
}
