.banner {
  text-align: left;
  background-image: url("/diseño-web-para-nutricionistas.jpg");
  background-size: cover;
  background-position: center;
  padding-inline: 10px;
  padding-block-end: 50px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.banner .title {
  font-size: 120px;
  margin-block: 0;
  margin-left: 70px; /* Elimina márgenes */
}

.banner .descripcion {
  font-size: 36px;
  color: #000;
  font-weight: 500;
  margin-left: 70px;
}

.banner .banner-button {
  padding: 5px 12px;
  font-size: 24px;
  margin-top: 10px;
  background-color: #79cabe;
  color: white;
  border: none;
  width: 226px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
}

.banner .banner-button:hover {
  background-color: #2a8e8b;
}

.arrow-button {
  position: absolute;
  transform: translateY(-50%);
  background-color: #32a89f;
  border: none;
  border-radius: 50%;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.arrow-button:hover {
  background-color: #2a8e8b;
}

.arrow-left {
  left: 15px; /* Ajusta la posición izquierda */
}

.arrow-right {
  right: 15px; /* Ajusta la posición derecha */
}