
.servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 30px; /* Aumenta el margen superior */
  padding: 20px; /* Añade padding para aumentar el tamaño */
}

.servicios button {
  padding: 1.2rem 2rem;
  font-size: 1.1rem;
  color: #00A8A0;
  background-color: #e6f4ea;
  border: 2px solid #00A8A0;
  border-radius: 20px;
  cursor: pointer;
  width: 350px; /* Aumenta el ancho de los botones */
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.servicios button:hover {
  background-color: #00A8A0;
  color: #ffffff;
}
