.servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 60px; /* Aumenta el margen superior */
  padding: 20px; /* Añade padding para aumentar el tamaño */
}
