.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(
    255,
    255,
    255,
    1
  ); /* Fondo más claro y semitransparente */
  padding: 5px 20px 15px 20px; /* Mayor padding para darle más espacio */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  position: sticky;
  top: 0;
  max-width: 100%;
  height: 60px;
  z-index: 2;
}

.navbar-logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.navbar-logo .enlace-main {
  color: #00a8a0;
  margin-right: 20px;
  text-decoration: none;
}

.navbar-logo .enlace-main .title {
  font-size: 1.5em;
}

.navbar-logo .enlace-main .title span {
  color: #333; /* Color negro para resaltar "Salud" */
}

.mobile-menu-icon {
  background-color: transparent;
  color: #000;
  border: none;
}

.mobile-menu-icon:hover {
  background-color: #cac6c6;
}

.navbar-links {
  display: none;
}

.navbar-mobile-links.hidden {
  display: none;
}

.navbar-mobile-links.visible {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 80px;
  height: max-content;
  z-index: 1000;
  width: 300px;

  background-color: rgba(255, 255, 255, 1);
}

.enlace {
  display: flex;
  gap: 2px;
  align-items: center;
  color: #333;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  transition: color 0.3s;
  padding: 5px 10px; /* Espaciado adicional alrededor de los enlaces */
}

.navbar-links a:hover {
  color: #00a8a0;
}

.button-comienza {
  background-color: inherit;
  display: flex;
  gap: 2px;
  align-items: center;
  color: #333;
  text-decoration: none;
  font-size: 1em;
  border: none;
  font-weight: 700;
  transition: color 0.3s;
  padding: 5px 10px; /* Espaciado adicional alrededor de los enlaces */
}

.button-comienza:hover {
  color: #00a8a0;
}

.auth-buttons {
  display: flex;
  gap: 15px; /* Espacio adicional entre botones */
}

.auth-buttons .login {
  color: #00a8a0;
  border: 1px solid #00a8a0;
  background-color: transparent;
  padding: 8px 20px;
  border-radius: 20px; /* Botón redondeado */
  cursor: pointer;
  font-size: 0.9em;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.auth-buttons .login:hover {
  background-color: #00796b;
  color: #fff;
}

.auth-buttons .signup {
  background-color: #00a8a0;
  color: #fff;
  text-decoration: none;
  padding: 8px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s;
}

.auth-buttons .signup:hover {
  background-color: #00796b;
}

.subEnlaces {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

.subEnlaces.visible {
  background-color: #fff;
  display: block;
  visibility: visible;
  opacity: 1;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 90%;
  border: 1px dashed #000;
  left: 20%;
  z-index: 1000;
}

.subEnlaces.visible .borde {
  border-right: 1px solid #000;
}

.subEnlaces-mobile {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

.subEnlaces-mobile.visible {
  background-color: #fff;
  display: block;
  visibility: visible;
  opacity: 1;
  border-radius: 10px;
  margin-left: 30px;
  z-index: 1000;
}

/* Ajustes responsivos */
@media (min-width: 1415px) {
  .navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .navbar-mobile-links {
    display: none;
  }

  .mobile-menu-icon {
    display: none;
  }
}