.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(
    255,
    255,
    255,
    1
  ); /* Fondo más claro y semitransparente */
  padding: 5px 20px 15px 20px; /* Mayor padding para darle más espacio */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  position: sticky;
  top: 0;
  max-width: 100%;
  margin-top: 10px;
  height: 60px;
  z-index: 2;
}

.navbar-logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.navbar-logo .enlace-main {
  color: #00a8a0;
  margin-right: 20px;
  text-decoration: none;
}

.navbar-logo .enlace-main .title {
  font-size: 1.5em;
}

.navbar-logo .enlace-main .title span {
  color: #333; /* Color negro para resaltar "Salud" */
}

.mobile-menu-icon {
  background-color: transparent;
  color: #000;
  border: none;
}

.mobile-menu-icon:hover {
  background-color: #f1f1f1;
}

.navbar-links {
  display: none;
}

.navbar-mobile-links.hidden {
  display: none;
}

.navbar-mobile-links.visible {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 70px;
  z-index: 1000;
  width: 300px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 1);
}

.enlace {
  display: flex;
  gap: 2px;
  align-items: center;
  color: #333;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  transition: color 0.3s;
  padding: 5px 10px; /* Espaciado adicional alrededor de los enlaces */
}

.navbar-links a:hover {
  color: #00a8a0;
}

.button-comienza {
  background-color: inherit;
  display: flex;
  gap: 2px;
  align-items: center;
  color: #333;
  text-decoration: none;
  font-size: 1em;
  border: none;
  font-weight: 700;
  transition: color 0.3s;
  padding: 5px 10px; /* Espaciado adicional alrededor de los enlaces */
}

.button-comienza:hover {
  color: #00a8a0;
  background-color: #f1f1f1;
}

.profile-buttons {
  display: flex;
  gap: 12px;
  align-items: center;
  border: dashed 1px #00a8a0;
  border-radius: 15px;
  padding: 5px 15px;
  height: 40px;
}

.rol-name {
  font-size: 18px;
  font-weight: bold;
}

.profile-buttons:hover {
  color: #fff;
  background-color: #00a8a0;
}

.options-profile.hidden {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.options-profile.visible {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 10000;
  border-radius: 15px;
  background-color: #fff;
  padding: 5px 10px;
  border: dashed 1px #00a8a0;
}

.logOut {
  background-color: transparent;
  color: #000;
  padding: 5px 2px;
  border-radius: 0;
  width: 100%;
  height: 100%;
}

.logOut:hover {
  background-color: transparent;
  color: #00a8a0;
}

.manageAccount {
  border-bottom: dashed 1px #00a8a0;
  padding-bottom: 10px;
  text-decoration: none;
  color: #000;
}

.manageAccount:hover {
  color: #00a8a0;
}

.subEnlaces {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

.subEnlaces.visible {
  background-color: #fff;
  display: block;
  visibility: visible;
  opacity: 1;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  border: 1px dashed #000;
  z-index: 1000;
  position: absolute;
  top: 50px;
}

.subEnlaces.visible .borde {
  border-right: 1px solid #000;
}

.subEnlaces-mobile {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

.subEnlaces-mobile.visible {
  background-color: #fff;
  display: block;
  visibility: visible;
  opacity: 1;
  border-radius: 10px;
  margin-left: 30px;
  z-index: 1000;
}

/* Ajustes responsivos */
@media (min-width: 1415px) {
  .navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .navbar-mobile-links {
    display: none;
  }

  .mobile-menu-icon {
    display: none;
  }
}
