.nutricionistas-section {
  text-align: left;
  margin-top: 20px;
}

.nutricionistas-title {
  color: #000;
}

.nutricionistas-container {
  display: flex;
  justify-content: center;
  gap: 30px; /* Ajusta el espacio entre las tarjetas */
  flex-wrap: wrap;
  margin-top: 5px;
  position: relative; /* Necesario para posicionar el botón */
}

.ver-mas-btn {
  background-color: #00a8a0;
  color: white;
  border: none;
  padding: 15px 25px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  position: absolute;
  right: 0px; /* Ajusta según necesites para colocarlo a la derecha */
  top: 100%;
  transform: translateY(70%);
  margin-bottom: 50px;
}

.ver-mas-btn:hover {
  background-color: #00796b;
}