.section-consulta {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.tipo-consulta label {
  margin-right: 10px;
  min-width: 200px;
}

.input-fecha input,
.input-hora input {
  padding: 5px;
  width: 100%;
}

@media (min-width: 975px) {
  .section-consulta {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .tipo-consulta {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .tipo-consulta label {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}