.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 500px;
  margin: auto;
}

.carousel {
  overflow: hidden; /* Oculta las tarjetas fuera del contenedor */
  width: 250px; /* Ajusta según el tamaño de las tarjetas */
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Animación suave para el movimiento */
}

.carousel-item {
  min-width: 250px; /* Debe coincidir con el ancho especificado en el contenedor */
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item:hover {
  opacity: 1;
}

.carousel-button {
  background-color: #79cabe;
  color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  font-size: 18px;
  margin: 0 10px;
}

.carousel-button:hover {
  background-color: #00a8a0;
}

.carousel-button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
