.container-signup {
  width: 100%;
  margin-right: 50px;
  margin-top: 5vh;
}

.img-signup {
  display: none;
}

@media (min-width: 1200px) {
  .img-signup {
    display: block;
    margin-top: 80px;
  }

  .container-signup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    gap: 90px;
  }
}
