.title {
  font-size: 2.5em; /* Ajusta el tamaño de fuente */
  font-weight: bold;
  color: #32a89f; /* Color verde azulado */
}

.title span {
  color: #000;
}
.main-content {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  max-width: 1200px; /* Limita el ancho de la sección principal */
  margin: 0 auto; /* Centra la sección en la página */
  gap: 80px; /* Espacio entre componentes */
  align-items: flex-start;
}
