.title {
  font-size: 2.5em; /* Ajusta el tama침o de fuente */
  font-weight: bold;
  color: #32a89f; /* Color verde azulado */
}

.title span {
  color: #000;
}
.main-content {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  max-width: max-content; /* Limita el ancho de la secci칩n principal */
  margin: 0 auto; /* Centra la secci칩n en la p치gina */
  gap: 50px; /* Espacio entre componentes */
  align-items: flex-start;
}

.App {
  margin: 0;
  max-width: 100%;
  padding: 0;
}
